*{
    background-color: rgb(243, 243, 243);
}
    .cc{
        text-align: center;
        }
        .BB{
            text-align: center;
            }
            .custem{
                width: 22.2rem;
            }